body {
  letter-spacing: 0.1em;
  font-family: "微软雅黑",sans-serif;
  background-color: #FAFAFA;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url(../images/main-bg.gif);
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container,
.container-fluid,
.items-container{
  margin: 0 auto;
  max-width: 1180px !important;
  padding: 0;
}

.items-container {
  margin-top: 10px;
  margin-bottom: 30px;
}
::selection {
  color: #fff;background-color: #DF596F;
}   
::-moz-selection {
  color: #fff;background-color: #DF596F;
}
.navbar .nav > li > ul {
  z-index: 100;
}
.navbar .nav > li:hover > ul {
  z-index: 999;
}
.navbar .nav > li > ul:before {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #525252 rgba(0, 0, 0, 0);
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #ED6262;
}

.toolbar, 
.toolbar .navbar-inner {
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  line-height: 50px;
  background-color: #525252;
  z-index: 999;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.toolbar .tools {
  list-style: none;
  height: 50px;
  float: left;
}
.toolbar .nav > li > a{
  color: #DADADA;
  padding: 0 20px;
  line-height: 50px;
  font-size: 0.6em;
}
.toolbar .nav > li > a:hover {
  display: block;
  background-color: #DF596F;
  color: #fff;
}
.toolbar .nav ul li {
  background-color: #525252;
}
.toolbar .nav ul a:hover {
  background-color: #E0E0E0;
  color: #2B2B2B;
}
.toolbar .nav {
  height: 50px;
}
.toolbar .tools li {
  float: left;
  padding: 0 5px;
  line-height: inherit;
}

.toolbar .tools .btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 5px;
  line-height: 30px;
  margin-top: 3px;
  width: 65px;
  color: #fff;
}
.toolbar .logo {
  width: 88px;
  height: 40px;
  background-image: url(../images/logo.png);
  background-position: 0 40px;
  float: left;
  margin: 5px 20px;
}
.header {
  background-color: rgba(255, 255, 255, 0.92);
  border-bottom: 1px solid #FAFAFA;
}
.header,
.header .navbar-inner {
  background-color: #FAFAFA;
  height: 70px;
  margin-top: 46px;
}
.header .navbar .nav > li > a {
  font-family: "微软雅黑";
  font-size: 0.9em;
}

.header .logo-container {
  background-color: rgba(255, 255, 255, 0.92);
  border-bottom: 1px solid #FAFAFA;
}

.header .logo {
  margin: 15px 2px;
  width: 88px;
  height: 40px;
  background-image: url(../images/logo.png);
  background-position: 0 40px;
}
.logo:hover {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  -ms-opacity: 0.6;
  -o-opacity: 0.6;
  opacity: 0.6;
}
.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 44px;
}
.sidebar ul {
  position: fixed;
  float: left;
  top: 200px;
  margin-left: -50px;
  list-style-type: none;
  background-color: #FF3C78;
  z-index: 888;
}
.sidebar ul li {
  line-height: 52px;
  border-bottom: 1px solid #FFF;
  text-align: center;
}
.sidebar ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  background-color: #FF3C78;
  display: block;
}
.sidebar ul li a:hover {
  background-color: #FF5B8E;
  padding-right: 5px;
}
.items-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 1050px;
}
.items-container div {
  background-color: #F1E7BC;
}
.span-item {
  float: left;
  min-height: 1px;
  margin-top: 15px;
  margin-left: 20px;
  width: 330px;
  height: 296px;
  max-width: 330px; 
  max-height: 296px;
}
.span-item div {
  width: 100%;
  height:inherit;
  border: 1px solid #E2E2E2;
  border-color: #FFF #E2E2E2 #E2E2E2 #FFF;
}




.footer-banner {
  background-color: #FF4361;
  color: #D1F2EB;
}
.footer-banner ul li {
  border-top: 1px solid #D22944;
}
/**
================== buttons =================================
 */
.btn.btn-login {
  background-color: #909395;
}
.btn.btn-login:hover,
.btn.btn-login:focus,
.btn-group:focus .btn.btn-login.dropdown-toggle {
  background-color: #7C7C7C;
}
.btn.btn-login:active,
.btn-group.open .btn.btn-login.dropdown-toggle,
.btn.btn-login.active {
  background-color: #7C7C7C;
}

.btn.btn-register {
  background-color: #DF596F;
}
.btn.btn-register:hover,
.btn.btn-register:focus,
.btn-group:focus .btn.btn-register.dropdown-toggle {
  background-color: #FF4361;
}
.btn.btn-register:active,
.btn-group.open .btn.btn-register.dropdown-toggle,
.btn.btn-register.active {
  background-color: #FF4361;
}

